<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AMSAPP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AMSAPP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client" />
  </startup>
  <connectionStrings>
    <add name="DataContext" providerName="System.Data.SqlServerCe.4.0" connectionString="Data Source=|DataDirectory|\AMSDatabase.sdf" />
  </connectionStrings>
  <userSettings>
    <AMSAPP.Properties.Settings>
      <setting name="MinTimeSpan" serializeAs="String">
        <value>540</value>
      </setting>
      <setting name="RefreshInterval" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="TimesheetAlertDays" serializeAs="String">
        <value>FriDay</value>
      </setting>
      <setting name="AvatarRefreshTime" serializeAs="String">
        <value />
      </setting>
    </AMSAPP.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <AMSAPP.Properties.Settings>
      <setting name="AMSWhereAMI" serializeAs="String">
        <value>http://ams.ey.net/WhereIsHe.aspx</value>
      </setting>
      <setting name="AMSCalendar" serializeAs="String">
        <value>http://ams.ey.net/AttendanceCalendar.aspx</value>
      </setting>
      <setting name="TimesheetUrl" serializeAs="String">
        <value>http://gteeurope.ey.net/Timesheets/TimesheetHome.aspx</value>
      </setting>
      <setting name="Logging" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MySite" serializeAs="String">
        <value>https://my.ey.net/Default.aspx</value>
      </setting>
    </AMSAPP.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.9.0" newVersion="2.6.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.9.0" newVersion="2.6.9.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
